@font-face {
    font-family: 'mf_basis_monou15_p80';
    src: url('../../fonts/mf_basis_mono_u15_p80-webfont.woff2') format('woff2'),
         url('../../fonts/mf_basis_mono_u15_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mf_basis_monou20_p80';
    src: url('../../fonts/mf_basis_mono_u20_p80-webfont.woff2') format('woff2'),
         url('../../fonts/mf_basis_mono_u20_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mf_basis_monou30_p80';
    src: url('../../fonts/mf_basis_mono_u30_p80-webfont.woff2') format('woff2'),
         url('../../fonts/mf_basis_mono_u30_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mf_basis_monou40_p80';
    src: url('../../fonts/mf_basis_mono_u40_p80-webfont.woff2') format('woff2'),
         url('../../fonts/mf_basis_mono_u40_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mf_basis_monou50_p80';
    src: url('../../fonts/mf_basis_mono_u50_p80-webfont.woff2') format('woff2'),
         url('../../fonts/mf_basis_mono_u50_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'flefixx';
    src: url('../../fonts/flefixx-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arial_brutforce_monospacedBlk';
    src: url('../../fonts/arialbrutforcemonospaced-black-webfont.woff2') format('woff2'),
         url('../../fonts/arialbrutforcemonospaced-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}