body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'flefixx';
  font-size: 0.9vw;
  overflow:hidden;
}

/* Here come the variables */
:root {
  --column-width-six: calc(100%/5);
  --column-width-five: calc(100%/4);
  --column-width-four: calc(100%/3);
  --column-width-three: calc(100%/2);
  --column-width-two: calc(100%/1);
  --calendarNavigation-width: calc(var(--column-width-six)*(2/7));
  --sidebarNavigation-width: calc(var(--column-width-six)*(5/7));
}

.siteTitle {
  font-family: 'mf_basis_monou15_p80';
  font-size: 4.15vw;
  z-index: 200;
  left: 10px;
  font-weight: 200;
  color: #9b77d1;
  position: absolute;
  pointer-events: none;
  line-height: 5vw;
}

.siteTitle p {
  margin: 0;
}

#headerTitle {
  top: 5px;
}

#footerTitle {
  bottom: 5px;
}

/* Navigation Sidebar */

#sidebarNavigation {
  width: var(--sidebarNavigation-width);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}

#sidebarNavigation form {
  position: absolute;
  top: 20vh;
}

label {
  display: block;
  position: relative;
  padding-left: 1vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  bottom: 0.2vh;
  left: 0;
  height: 0.8vw;
  width: 0.8vw;
  background-color: white;
  border: black solid 1px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label:hover input ~ .checkmark {
  background-color: #eee;
}

label input:checked ~ .checkmark:after {
  display: block;
}

label .checkmark:after {
  bottom: -0.2vw;
  left: 0.3vw;
  width: 0;
  height: 1.05vw;
  border: solid black;
  border-width: 0 1px 0px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#calendarNavigation{

  width: var(--calendarNavigation-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

}

#content {
  position: absolute;
  width: calc(5*(100vw/6.35));
  border-right: black solid 1px;
  top: 0;
  left: calc(var(--column-width-six)*(2/7));
  position: fixed;
}

#easterEgg {
  position: fixed;
  width: calc(4*(100vw/7));
  top: 30vh;
  left: calc(1.8*var(--column-width-six)*(3/7));
}

.column {
  position: relative;
float:left;
  width: var(--column-width-six);
  height: 100vh;
  overflow: scroll;
  border-left: black solid 1px;
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentPlazthalter {
  height: 1000vh;
  width: 14vw;

}

#events {

    left:0;
    overflow:hidden;
    background-color: white;
    /*background-color: white;*/
}

#seminars {
    overflow:hidden;
    background-color: white;
}

#projects {
    background-color: white;
}

#information {
    background-color: white;
}

#people {
    background-color: white;
}

@media screen and (min-width: 768px) {
  font-size: 10pt;
}

/*everything in the columns*/

.col{

    width:100%;
    height:100vh;
    background: ;
    overflow:scroll;
    overflow-x: hidden;
}

.orientation{
    position: fixed;
    color: red;
}

.colcontent{
}

/*---CALENDAR---*/

.day{
    width:100%;
    min-height: 1vh;
    float:left;
    height:auto;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#timelinecol{

    overflow:hidden;

}

/*RULER*/
/*the red line in <timeline> <events> and <courses>*/
.ruler{

    position:absolute;
    left:0px;
    width:100%;
    pointer-events: none;
    border-bottom-style:solid;
    border-bottom-color:red;
    border-bottom-width:1pt;
    pointer-events:none;

}

/*EVENTS*/

.event{

    position:relative;
    width:50%;
    float:left;

}

.eventtitle{

    height:10vh;

}

/*SEMINARS*/

.seminar{
    
    position:relative;
    margin:2px;
    border-left-style: black solid 1px;
    
}

/*PROJEKTS*/
.protitle{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 0.75vw;
    color: red;
    font-family: 'flefixx';
    
}

.proauthor{
    margin-left: 2%;
    margin-right: 2%;
    font-size: 0.75vw;
    color: red;
    font-family: 'flefixx';
    margin-bottom: 1vh;
}

.prosemester{
    font-family: 'flefixx';
    font-size: 1.5vh;
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 1vw;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    margin-bottom: 1vh;
    padding: 0.3vw;
}

.proimage{
    width: 96%;
    height: auto;
    margin: 2%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.15);
}

/*INFO*/
.infotext{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1vh;
    width: 100%;
   
}
