@font-face {
    font-family: 'mf_basis_monou15_p80';
    src: url('/assets/fonts/mf_basis_mono_u15_p80-webfont.woff2') format('woff2'),
         url('/assets/fonts/mf_basis_mono_u15_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mf_basis_monou20_p80';
    src: url('/assets/fonts/mf_basis_mono_u20_p80-webfont.woff2') format('woff2'),
         url('/assets/fonts/mf_basis_mono_u20_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'mf_basis_monou30_p80';
    src: url('/assets/fonts/mf_basis_mono_u30_p80-webfont.woff2') format('woff2'),
         url('/assets/fonts/mf_basis_mono_u30_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mf_basis_monou40_p80';
    src: url('/assets/fonts/mf_basis_mono_u40_p80-webfont.woff2') format('woff2'),
         url('/assets/fonts/mf_basis_mono_u40_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mf_basis_monou50_p80';
    src: url('/assets/fonts/mf_basis_mono_u50_p80-webfont.woff2') format('woff2'),
         url('/assets/fonts/mf_basis_mono_u50_p80-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flefixx_regular';
    src: url('/assets/fonts/flefixx-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: flefixx;
  font-size: 0.9vw;
}

/* Here come the variables */
:root {
  --column-width-six: calc(100%/5);
  --column-width-five: calc(100%/4);
  --column-width-four: calc(100%/3);
  --column-width-three: calc(100%/2);
  --column-width-two: calc(100%/1);
  --calendarNavigation-width: calc(var(--column-width-six)*(2/7));
  --sidebarNavigation-width: calc(var(--column-width-six)*(5/7));
}

.siteTitle {
  font-family: 'mf_basis_monou30_p80';
  font-size: 4.15vw;
  z-index: 200;
  left: 10px;
  font-weight: 200;
  color: #9b77d1;
  position: absolute;
    pointer-events: none;
}

.siteTitle p {
  margin: 0;
}

#headerTitle {
  top: 5px;
}

#footerTitle {
  bottom: 5px;
}

#sidebarNavigation {
  width: var(--sidebarNavigation-width);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
    font-family: 'flefixx_regular';
}

#sidebarNavigation form {
  position: absolute;
  top: 20vh;
}

#content {
  position: absolute;
  width: calc(5*(100vw/6.35));
  border-right: black solid 1px;
  top: 0;
  left: calc(var(--column-width-six)*(2/7));
  position: fixed;
}

#easterEgg {
  position: fixed;
  width: calc(4*(100vw/7));
  top: 30vh;
  left: calc(1.8*var(--column-width-six)*(3/7));
}

.column {
  width: var(--column-width-six);
  height: 100vh;
  overflow: scroll;
  border-left: black solid 1px;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  box-sizing: border-box;
}

.contentPlazthalter {
  height: 1000vh;
  width: 14vw;

}

#events {
  /*background-color: fuchsia;*/
  background-color: white;
}

#seminars {
  /*background-color: #fc035a;*/
  background-color: white;
}

#projects {
  /*background-color: red;*/
  background-color: white;
}

#information {
  /*background-color: #ff6a00;*/
  background-color: white;
}

#people {
  /*background-color: yellow;*/
  background-color: white;
}

@media screen and (min-width: 768px) {
  font-size: 10pt;
}

.ruler{

    position:absolute;
    left:0px;
    width:calc(100% - var(--sidebarNavigation-width));
    border-bottom-style:solid;
    border-bottom-color:red;
    border-bottom-width:1.5pt;
    pointer-events:none;

}
