body {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: flefixx;
  font-size: 0.9vw;
}

/* Here come the variables */
:root {
  --column-width-six: calc(100%/5);
  --column-width-five: calc(100%/4);
  --column-width-four: calc(100%/3);
  --column-width-three: calc(100%/2);
  --column-width-two: calc(100%/1);
  --calendarNavigation-width: calc(var(--column-width-six)*(2/7));
  --sidebarNavigation-width: calc(var(--column-width-six)*(5/7));
}

#vortr:hover {
  color: #d987ff;
}

#sidebarNavigation {
  width: var(--sidebarNavigation-width);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
}

#sidebarNavigation form {
  position: absolute;
  top: 20vh;
}

#content {
  position: absolute;
  width: calc(5*(100vw/6.35));
  border-right: black solid 1px;
  top: 0;
  left: calc(var(--column-width-six)*(2/7));
}

#easterEgg {
  position: fixed;
  width: calc(5*(100vw/7));
  top: 30vh;
  left: calc(var(--column-width-six)*(3/7));
}

.column {
  width: var(--column-width-six);
  height: 100vh;
  overflow: scroll;
  border-left: black solid 1px;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  box-sizing: border-box;
}

.contentPlazthalter {
  height: 1000vh;
  width: 14vw;

}

#events {
  background-color: fuchsia;
}

#seminars {
  background-color: #fc035a;
}

#projects {
  background-color: red;
}

#information {
  background-color: #ff6a00;
}

#people {
  background-color: yellow;
}

@media screen and (min-width: 768px) {
  font-size: 10pt;
}
