div.navelement {
  display: block;
  position: relative;
  padding-left: 1vw;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2000;
}


.navelement p {
  cursor: pointer;
}

label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark, label .checkmark::after  {
  position: absolute;
  left: 0;
  top: 0;
  height: 2.7vw;
  width: 2.7vw;
  background-color: white;
  border: black solid 0.3vw;
  border-radius: 2.7vw;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.checkmark {
  background-color: red;
}

.dropmenu .checkmark, label.dropmenu .checkmark::after, label.dropmenu:hover input ~ .checkmark:after {
  position: inherit;
  display: inline-block;
}

label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  box-sizing: border-box;
}

label:hover input ~ .checkmark:after {
  background-color: white;
  border: black solid 0.3vw;
  content: "X";
  color: black;
  font-size: 2.5vw;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}


.checkmark:after {
  background-color: red;
}

.checkmark:after:hover ~ .checkmark:after {
  background-color: red;
  border: black solid 0.3vw;
  content: "X";
  color: black;
  font-size: 2.5vw;
  box-sizing: border-box;
}

label input:checked ~ .checkmark:after {
  display: block;
}

div.navigationMenu {
  z-index: 100;
  position: absolute;
  top: 5px;
  height: 2vw;
  width: 200000vw;
}

.navigationMenu form {
  position: relative;
  width: calc(5*(100vw/6.35));
  margin: 0;
  font-family: 'mf_basis_monou15_p80' ;
  font-size: 20px;
  display: inline-block;
}

form.menuUnchecked {
  display: inline-block;
  position: absolute;
  width: 200000vw;
  height: 2vw;
  left: calc(5*(100vw/6.35));
}

div.menu {
  display: inline-block;
  float: left;
  width: calc(var(--column-width-six) - 10px);
  margin: 5px;
  padding: 0.8vw;
  padding-left: 3.2vw;
  box-sizing: border-box;
  color: white;
  border: black solid 2px;
  border-radius: 3vw;
  height: 3vw;
  background-color: black;
}

label {
  display: inline-block;
}

label.dropmenu {
  display: none;
  width: calc(var(--column-width-six) - 10px);
  margin: 0;
  padding: 0;
  padding-bottom: 0.5vw;
  box-sizing: border-box;
  color: white;
  border: black solid 2px;
  border-radius: 3vw;
  height: 3vw;
  background-color: black;
  width: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

label.menu {
  display: block;
  width: 0;
  height: 0;
}

label.menuUnchecked {
  float: left;
  width: calc(var(--column-width-six) - 10px);
  margin: 5px;
  padding: 5px;
  padding-left: 25px;
  padding-top: 0;
  box-sizing: border-box;
  background-color: white;
  border: black solid 2px;
  border-radius: 20px;
  height: 5vh;
}
